extends layout

block script

  script(src="/socket.io/socket.io.js")
  script(src='/javascripts/updatestatus.js')

  script

    var socket = io.connect('https://oaf.no-ip.info');
      socket.on('UpdateSequence', function (data) {
        if (data.all) {
          for (i = 0; i < data.all.length; i++)
             $('<p>').append( $('<small>').html(data.all[i])).appendTo('#log');
        }
        if (data.progressAll) {
          for (i = 0; i < data.progressAll.length; i++)
              $('#'+data.progressAll[i]).addClass('success')
        }
           $('<p>').append( $('<small>').html(data.msg)).appendTo('#log');
       });
        socket.on('ProgressSequence', function (data) {
         $('#'+data.id).addClass('success')
       });
        socket.on('SequenceError', function (data) {
          $('#ErrorText').text(data.msg)
          $('#ErrorMessage').show(data.msg)
       });

    $(document).ready(function() {

      $('#ErrorMessage').hide();
      $('#AlertClose').click(function(){
          $('#ErrorMessage').hide();
        })


        $('#ExecuteList').empty();
        $.getJSON('/json/actionlist',{id:'#{seqid}'} ,function(data){
          $.each(data, function(key, val) {
             var tr = $('<tr>').attr('id',val._id)
                   .append($('<td>').append($('<input>').attr('type','checkbox')))
                   .append($('<td>').html(val.Action));
                   if (val.Target) 
                    tr.append($('<td>').html(val.Target.Name));
                   else 
                     tr.append($('<td>'));
                    tr.append($('<td>').append($('<div>').append($('<div>').addClass('bar').attr('style','width:10%'))
                                        .addClass('progress').addClass('span2')))
                   .appendTo('#ExecuteList');
            });
        });
        $('#Start').click(function(){
            $('#log').empty();
            $.post('/action/startSequence',{id:'#{seqid}'})
          })
    });

    function updateSchema() {
    $.getJSON('/json/mount', function(data) {
      UpdateTelescopeStatus(data, $('#telStatus'));
    });
    $.getJSON('/json/roof', function(data) {
      $('#toitStatus').text = data.TextStatus;
      $('#toitStatus').css('background-color', 'red')
      if (data.TextStatus == 'Toit ferme') $('#toitStatus').css('background-color', 'white');
      if (data.TextStatus == 'Toit ouvert') $('#toitStatus').css('background-color', 'green');
    });
  }

block content
  .row
    .span8.offset1
     #ErrorMessage.alert-block.alert.alert-error
         button#AlertClose.close x
         h4 Error
         p#ErrorText
     p Welcome  #{user.username}
     legend Summary
     .span6
        .row
              label.span2 Toit
              span#toitStatus.span4.uneditable-input
        .row 
              label.span2 Telescope
              span#telStatus.span4.uneditable-input
     legend Control
     .span6
        .row
           label.span3 Automatique meridian flip
           .controls
             input.span1(type='checkbox')
        .row
           label.span3 Fermeture toit Automatique
           .controls
             input.span1(type='checkbox')
     legend Execute
     .span6
       table#ExecuteList.table.table-striped.table-bordered
          thead
           tr
             th 
                input#selectAll(type='checkbox')
             th Action
             th Object 
             th Progress
          tbody#executebody
       button.btn.btn-warning#Start Start
     legend Console
     .row(style='height:300px')
        p#log.span8
  