extends layout

block content
  .container
    p Welcome  #{user.username}
    a(href='/toit') Toit
      br
    a(href='/mount') Monture
      br
    a(href='/meteo') Meteo
      br
    a(href='/task') Taches
      br
    a(href='/logout') Logout
       br 
  