extends layout

block script

  script(src="/socket.io/socket.io.js")
  script

    var socket = io.connect('https://oaf.no-ip.info');
      socket.on('UpdateSequence', function (data) {
           $('<p>').append( $('<small>').html(data.msg)).appendTo('#log');
       });
        socket.on('SequenceError', function (data) {
          $('#ErrorText').text(data.msg)
          $('#ErrorMessage').show(data.msg)
       });

    $(document).ready(function() {

      $('#ErrorMessage').hide();
      $('#AlertClose').click(function(){
          $('#ErrorMessage').hide();
        })


        $('#ExecuteList').empty();
        $.getJSON('/json/actionlist',{id:'#{seqid}'} ,function(data){
          $.each(data, function(key, val) {
             var tr = $('<tr>').attr('id',val._id)
                   .append($('<td>').append($('<input>').attr('type','checkbox')))
                   .append($('<td>').html(val.Action));
                   if (val.Target) 
                    tr.append($('<td>').html(val.Target.Name));
                   else 
                     tr.append($('<td>'));
                    tr.append($('<td>').append($('<div>').append($('<div>').addClass('bar').attr('style','width:10%'))
                                        .addClass('progress').addClass('span2')))
                   .appendTo('#ExecuteList');
            });
        });
        $('#Start').click(function(){
            $('#log').empty();
            $.post('/action/startSequence',{id:'#{seqid}'})
          })
    });

block content
  .row
    .span8.offset1
     #ErrorMessage.alert-block.alert.alert-error
         button#AlertClose.close x
         h4 Error
         p#ErrorText
     p Welcome  #{user.username}
     //- a(href='/toit') Toit
     //-  br
     //- a(href='/mount') Monture
     //-  br
     //- a(href='/meteo') Meteo
     //-  br
     //- a(href='/task') Taches
     //-  br
     //- a(href='/logout') Logout
     //-   br 
     legend Execute
     .row
       table#ExecuteList.table.table-striped.table-bordered
          thead
           tr
             th 
                input#selectAll(type='checkbox')
             th Action
             th Object 
             th Progress
          tbody#executebody
       button.btn.btn-warning#Start Start
     legend Console
     .row(style='height:300px')
        p#log.span8
  