extends layout

block content
  - if (typeof(message) != 'undefined')
  
        p= message  
  
  form.form-horizontal(method="post", action="/login")
    legend Loging
    .control-group
       label.control-label Username 
       .controls
         input(type="text",placeholder="Username",name='username')
    .control-group
       label.control-label Password 
       .controls
         input(type="password",placeholder="Password",name='password')
    .control-group
       .controls
          button.btn(type="submit") Valider