extends layout
block script
  script  
   $(document).ready(function() {
     updateSchema();
   });

   function updateSchema() {
     $.getJSON('/json/meteo', function(data) {
       $('#TempSkyVal').text(data.SkyTemp);
       $('#TempSky').val(data.seuil.SkyTemp);
       if (data.seuil.SkyTempCheck) {
         $('#TempSkyCheck').attr('checked', true);
         if (data.seuil.SkyTempCheck > data.SkyTemp) $('#TempSkyTr').addClass('error')
         else $('#TempSkyTr').addClass('success')
       }
       $('#TempVal').text(data.DHTTemp);
       $('#Temp').val(data.seuil.Temp);
       $('#DeltaVal').text((data.MLXAmb - data.SkyTemp).toFixed(2));
       $('#Delta').val(data.seuil.Clarity);
       if (data.seuil.ClarityCheck) $('#DeltaCheck').attr('checked', true);
       $('#HumVal').text(data.DHTHum);
       $('#Hum').val(data.seuil.DHTHum);
       if (data.seuil.DHTHumCheck) $('#HumCheck').attr('checked', true);
       $('#ObscVal').text(data.Darkness);
       $('#Obsc').val(data.seuil.Darkness);
       if (data.seuil.DarknessCheck) $('#ObscCheck').attr('checked', true);
       $('#RainVal').text(data.Rain);
       $('#Rain').val(data.seuil.Rain);
       if (data.seuil.RainCheck) $('#RainChek').attr('checked', true);
     });
   }
   setInterval('updateSchema();', 10000);
block content
 .row 
  .span8.offset1
   legend Meteo
   .span6
    .row
       form(method="post", action="/action/meteo")
           table.table.table-bordered.table-condensed
             thead
              tr
                th Capteur
                th Valeur
                th Check
                th Seuil
             tboby
              tr#TempSkyTr.success
                th Temperature du ciel 
                th#TempSkyVal -22
                th 
                       input#TempSkyCheck(type='checkbox',name = 'TempSkyCheck')
                th
                  input#TempSky(type='text',name = 'TempSky').span1
              tr.success
                th Temperature ambiente 
                th#TempVal 20
                th 
                  input#TempCheck(type='checkbox',name = 'TempCheck')
                th 
                  input#Temp(type='text',name='Temp').span1
              tr
                th Delta temperature 
                th#DeltaVal 44
                th
                  input#DeltaCheck(type='checkbox',name='DeltaCheck')
                 th 
                  input#Delta(type='text',name = 'Delta').span1
             tr
                th Humidite
                th#HumVal 90
                th
                  input#HumCheck(type='checkbox',name='HumCheck')
                th 
                  input#Hum(type='text',name='Hum').span1
             tr
                th Obscurite 
                th#ObscVal 90
                th 
                  input#ObscCheck(type='checkbox',name='ObscCheck')
                 th 
                  input#Obsc(type='text',name='Obsc').span1
             tr
                th Pluie 
                th#RainVal 90
                th
                  input#RainChek(type='checkbox',name ='RainChek')
                th 
                  input#Rain(type='text',name='Rain').span1
           .row   
             button#Valider.btn.btn-small.span2   Valider