extends layout

block script
  script(src='/javascripts/jquery.tablednd.0.7.min.js')

  script
    var currentRow,currentRowSeq ;

        var i;

    function displayTaskList() {
      $('#taskbody').empty();
      $.getJSON('/json/actionlist',{id:currentRowSeq.attr('id')},function(data){
      i = 1;
      $.each(data, function(key, val) {
        var tr = $('<tr>').attr('id',val._id)
                 .append($('<td>').append($('<input>').attr('type','checkbox')))
                 .append($('<td>').html(i++).attr('name','indice'))    
                 .append($('<td>').html(val.Action));
                  if (val.Target) {
                    tr.append($('<td>').html(val.Target.Name))
                      .append($('<td>').html(val.Target.RA))
                      .append($('<td>').html(val.Target.DEC))
                   }
                  else
                     tr.append($('<td>')).append($('<td>')).append($('<td>'));
                  if (val.ImageOption){
                      td = $('<td>').attr('style','font-size:80%');
                      var  html = '' ;
                      for (i= 0; i < val.ImageOption.length; i++){
                               html +=val.ImageOption[i].Filter+
                                           ':'+val.ImageOption[i].Bin+':'
                                            +val.ImageOption[i].Repeate+'X'
                                           +val.ImageOption[i].Exposure+'s';
                                html+= '<br>';
                        }
                        td.html(html);
                        tr.append(td);
                  }
                  else
                    tr.append($('<td>'));
                    tr.bind('click', function(event) {
                        if (currentRow)
                          currentRow.removeClass('info');
                        currentRow = $(this).closest('tr');
                        $(this).closest('tr').addClass('info');
                    })
                 .appendTo('#taskbody');
          });
      $('#example').tableDnD();
      });
    }


    $(document).ready(function() {

        $.getJSON('/json/sequencelist',function(data){
        $.each(data, function(key, val) {
            tr = $('<tr>').attr('id',val._id)
                 .append($('<td>').html(val.name)) ;
                 if (val._id =='#{seqid}'){
                  tr.addClass('info');
                  currentRowSeq = tr;
                  displayTaskList();
                 }

                 tr.bind('click', function(event) {
                      if (currentRowSeq)
                          currentRowSeq.removeClass('info');
                      currentRowSeq = $(this).closest('tr');
                      currentRowSeq.addClass('info');
                      if (currentRowSeq)
                        $.getJSON('/json/sequence',{id:currentRowSeq.attr('id')},function(data){
                                       $('#tasklist').text('Task '+data[0].name);

                         });
                        displayTaskList();
                  })
                 .appendTo('#sequence');
          });
      });
      // create the Image Option form
      for ( i = 0 ; i < 4 ; i++){
        $('<div>').addClass('controls-row')
                  .append($('<input>').addClass('span1').attr('type','checkbox').attr('name','ImageCheck'+i).attr('id','ImageCheck'+i))
                  .append($('<select>').addClass('span2').attr('name','ImageFilter'+i).attr('id','ImageFilter'+i)
                      .append($('<option>').html('Luminance'))
                      .append($('<option>').html('Red'))
                      .append($('<option>').html('Green'))
                      .append($('<option>').html('Blue'))
                      .append($('<option>').html('Halpha')))
                  .append($('<input>').addClass('span1').addClass('input-small').attr('placeholder','Exposure').attr('name','ImageExposure'+i).attr('id','ImageExposure'+i))
                  .append($('<select>').addClass('span1').attr('name','ImageBin'+i)
                       .append($('<option>').html('Bin 1'))
                       .append($('<option>').html('Bin 2')))
                  .append($('<input>').addClass('span1').addClass('input-small').attr('placeholder','repeate').attr('name','ImageRepeate'+i).attr('id','ImageRepeate'+i))
                  .appendTo('#ExposeOptions')
      }

      $('#Add').click(function() {  
        $('#modal-add').modal({show:true});
      })     
       $('#Edit').click(function() {  
        //Update dialogue
        if (currentRow){
        $.getJSON('/json/task',{id:currentRow.attr('id')},function(data){
          $.each(data, function(key, val) {
            console.log(val);
             $('#Action' ).val(val.Action);
             if (val.Action == 'Slew' || val.Action == 'Slew and Expose'){
                  $('#object').show();
                  $('#objectName').val(val.Target.Name);
                  $('#rainput').val(val.Target.RA);
                  $('#Dec').val(val.Target.DEC);
             }
             if (val.Action == 'Slew and Expose'){
                $('#ExposeOption').show();
                for (ii=0 ; ii < val.ImageOption.length; ii++){
                  $('#ImageCheck'+ii).attr('checked',true);
                  $('#ImageFilter'+ii).val(val.ImageOption[ii].Filter);
                  $('#ImageBin'+ii).val(val.ImageOption[ii].Bin);
                  $('#ImageExposure'+ii).val(val.ImageOption[ii].Exposure);
                  $('#ImageRepeate'+ii).val(val.ImageOption[ii].Repeate);
                }
             }
          });
        });
      }
       $('#modal-add').modal({show:true});
      })
      $('#AddSeq').click(function() {	
        $('#modal-addseq').modal({show:true});
      })
      $('#modal-saveseq').click(function(){
       $('#formAddSeq').submit();
      });

       $('#Delete' ).click(function() {	
         if (confirm('Delete item :'+currentRow.attr('id'))) {
            $.post('/action/deleteTask', { id: currentRow.attr('id') }, function (data){
            })
            $('#' + currentRow.attr('id')).remove();
          }
      })
      $('#modal-save').click(function(){
       $('<input />').attr('type','hidden').attr('name','SeqObjectId').attr('value',currentRowSeq.attr('id'))
                     .appendTo('#formAdd');
        if (currentRow)
            $('<input />').attr('type','hidden').attr('name','objectId').attr('value',currentRow.attr('id'))
                     .appendTo('#formAdd');
       $('#formAdd').submit();
       $('#formAdd').modal({show:false});
      });

      $('#search').click(function(){
          var val = $('#objectName').val().toUpperCase();
          $.post('/action/searchObject', { object: val }, function (data){
             var obj = JSON.parse(data);
             $('#rainput').val(obj[0].RA);
             $('#Dec').val(obj[0].DEC);
             $('#ln').attr('href','http://simbad.u-strasbg.fr/simbad/sim-id?Ident='+obj[0].OBJECT);
             $('#ln').text(obj[0].OBJECT);
          });
       });
      $('#ImageOption' ).click(function() { 
        $('#modal-add').modal({show:false});
        $('#modal-imageOption').modal({show:true});
      })

      $('#execute').click(function(){
         window.location.replace('/?seq='+currentRowSeq.attr('id'))
        })

      $('#Action' ).change(function() {
          opt =  $(this).val();
          switch(opt){
            case  'Ouverture Toit':
            case  'Fermeture Toit':
            case  'Power on monture':
            case  'Power off monture':
                              $('#object').hide();
                              $('#ExposeOption').hide();
                              break;
            case  'Slew' :
                              $('#object').show();
                              $('#ExposeOption').hide();
                              break;
            case 'Slew and Expose':
                            $('#object').show();
                            $('#ExposeOption').show();
                            break;

          }
      });
      $('#object').hide();
      $('#ExposeOption').hide();
     


     });
 


block content

   .alert#ErrorMessage 
        p= message
    .row
      .span8.offset1
        legend  Sequence list
        .btn-group
           button#AddSeq.btn.btn-small.span1   Add
           button#DeleteSeq.btn.btn-small.span1   Delete

          table#sequence.table.table-striped.table-bordered
            thead
             tr
               th Sequence name
          a.btn#execute Execute
                 
           

        legend#tasklist
        .btn-group
           button#Add.btn.btn-small.span1   Add
           button#Edit.btn.btn-small.span1   Edit
           button#Delete.btn.btn-small.span1   Delete
        table#example.table.table-striped.table-bordered
          thead
           tr
             th 
                input#selectAll(type='checkbox')
             th id
             th Action
             th Object Name
             th RA
             th DEC
             th Image
            tbody#taskbody
   .modal#modal-add.hide.fade
     .modal-header
         button.close(data-dismiss="modal",aria-hidden="true")&times;
         .h2 Add Task
     .modal-body
      form#formAdd.form-horizontal(method="post", action="/action/addtask")
       .control-group
         label.control-label Action 
         .controls
           select#Action(name = 'action')
             option(value='Ouverture Toit') Ouverture Toit
             option(value='Fermeture Toit') Fermeture Toit
             option(value='Power on monture') Power on monture
             option(value='Power off monture') Power off monture
             option(value='Slew') Slew
             option(value='Slew and Expose') Slew and Expose
       #object
        legend Object Info
        .control-group
         label.control-label Object Name 
         .controls
           .form-search
              input#objectName(type="text",placeholder="Object name",name='name')
              a.btn#search Search 
        .control-group
         label.control-label Link 
         .controls
           a#ln(target="_blank")
        .control-group
         label.control-label Coord 
         .controls
          .form-inline
              label RA :
              input.input-small.span1#rainput(type="text",placeholder="0h00mn0s",name='RA')  
              label DEC : 
              input.input-small.span1#Dec(type="text",placeholder="0d00mn0s",name='DEC')    
       #ExposeOption
        legend Exposure Info
        #ExposeOptions.row.span6
     .modal-footer
       button.btn(data-dismiss="modal",aria-hidden="true") Close
       a#modal-save.btn.btn-primary  Save
   .modal#modal-addseq.hide.fade
     .modal-header
         button.close(data-dismiss="modal",aria-hidden="true")&times;
         .h2 Add Sequence
     .modal-body
      form#formAddSeq.form-horizontal(method="post", action="/action/addSeq")
       .control-group
         label.control-label Sequence Name 
         .controls
              input#objectName(type="text",placeholder="Sequence name",name='seqname')
     .modal-footer
       button.btn(data-dismiss="modal",aria-hidden="true") Close
       a#modal-saveseq.btn.btn-primary  Save

